<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div>

          <a href="/login" class="col-3 btn btn-primary">Login</a>
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>
        <div class="mt-5">
          <h2>Make an Order</h2>
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>

            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-6">
      </div>
    </div>
  </div>
  </div>
  <%- include('partials/footer') -%>